:root{

    --color-fondo: #1f1f1f;
    --fondo-2: #de9312;
    --fondo3: #313131;

    --letra1: rgb(183, 183, 183);
    --letra2: #ffee00;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    color: var(--letra1);
}

body h1{
    color: var(--letra2);
    display: flex;
}

body p{
    display: flex;
    justify-content: center;
}

.enviar-mensaje{
    margin-bottom: 2rem;
}

.enviar-mensaje h1{
    font-size: 80px;
    text-shadow: 0 0 20px var(--fondo-2);
}

.contenedor-formulario{
    background-color: var(--color-fondo);
    border: 5px double var(--fondo-2);
    width: 50rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.contenedor-formulario .contenido-f{
    margin-left: 20%;
    margin-top: 1rem;
}

.contenedor-formulario .form-contacto input{
    border: 2px dashed var(--letra2);
    height: 2rem;
    width: 20rem;
    padding-left: 14px;
}

.contenedor-formulario .form-contacto input:focus,
.contenedor-formulario .form-contacto textarea:focus,
.contenedor-formulario .form-contacto select:focus{
  border: var(--fondo-2) dashed;
  background-color: var(--fondo3);
}

.contenedor-formulario .form-contacto input,
.contenedor-formulario .form-contacto textarea,
.contenedor-formulario .form-contacto select{
    background-color: var(--color-fondo);
    color: var(--letra1);
    border: 2px dashed var(--letra2);
    margin-bottom: 1rem;
}

.contenedor-formulario .form-contacto label,
.contenedor-formulario .form-contacto label,
.contenedor-formulario .form-contacto label{
    margin-right: 20px;
}

.contenedor-formulario .form-contacto .grupo-input{
    display: flex;
    align-items: flex-start;
}

.contenedor-formulario .form-contacto textarea{
    max-height: 250px;
}

.contenedor-formulario .form-contacto .btn-enviar{
    background-color: var(--color-fondo);
    border: none;
    font-size: 22px;
    margin: 20px;
    color: var(--letra2);
} 

.contenedor-formulario .form-contacto .btn-enviar:hover{
    text-shadow: 0 0 15px var(--letra2);
    color: white;
}

.enviar-boton{
    display: flex;
    justify-content: flex-end;
}

.form-contacto .contenido-f .nombre-input small{
    margin-top: -10px;
    display: block;
    font-size: 12px;
    margin-left: 12rem;
    margin-bottom: 1rem;
    color: red;
}

.form-contacto .contenido-f .error-text{
    margin-top: -1rem;
}

.form-contacto .contenido-f .error-text small{
    color: red;
    font-size: 12px;
    margin-left: 6rem;
}

@media (min-width: 768px) and (max-width: 1023px){

    .formulario-contacto .enviar-mensaje{
        display: flex;
        flex-direction: column;
        width: 700px;
        padding-left: 2rem;
    }
    .formulario-contacto .enviar-mensaje p{
        font-size: 20px;
    }

    .contenedor-formulario{
        width: auto;
    }

    .contenedor-formulario .contenido-f{
        font-size: 20px;
        margin: 20px;
    }

    .contenedor-formulario .form-contacto input{
        border: 2px dashed var(--letra2);
        height: 3rem;
        width: 25rem;
        padding-left: 14px;
    }

    .contenedor-formulario .form-contacto textarea{
        min-height: 100px;
        min-width: 300px;

        max-height: 250px;
        max-width: 520px;
    }

    .contenedor-formulario .form-contacto select{
        height: 3rem;
        width: 25rem;
    }

}

@media (max-width: 767px){

    .formulario-contacto .enviar-mensaje{
        display: flex;
        flex-direction: column;
        width: 400px;
        text-align: justify;
        padding-left: 1rem;
    }
    .formulario-contacto .enviar-mensaje p{
        font-size: 20px;
    }
    .formulario-contacto .enviar-mensaje h1{
        font-size: 67px;
    }

    .contenedor-formulario{
        width: auto;
        margin: 10px;
    }

    .contenedor-formulario .contenido-f{
        font-size: 20px;
        margin: 20px;
    }

    .contenedor-formulario .form-contacto input{
        border: 2px dashed var(--letra2);
        height: 3rem;
        width: 25rem;
        padding-left: 14px;
    }

    .contenedor-formulario .form-contacto textarea{
        min-height: 100px;
        min-width: 300px;

        max-height: 250px;
        max-width: 520px;
    }

    .contenedor-formulario .form-contacto select{
        height: 3rem;
        width: 25rem;
    }

    .form-contacto .contenido-f .nombre-input small{
        display: block;
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 20px;
        color: red;
    }

    .form-contacto .contenido-f small{
        display: block;

        color: red;
        font-size: 15px;
        margin-left: 0;
        margin-top: -10px;
    }




}