:root{

    --color-fondo: #292929;
    --fondo-2: #deb212;
    --fondo3: #313131;

    --letra1: rgb(183, 183, 183);
    --letra2: #ffff00;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--letra1);
    
    background: linear-gradient(
            135deg, var(--color-fondo)50%, var(--fondo-2)50%
        );;
}

header{
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
}
header .logo{
    margin-right: auto;
    width: 100px;
    height: 100px;
}

header a{
    background-color: transparent;
    border: none;
}

.bloque-presentacion{
    margin-bottom: 10px;
    margin-left: 20%;
    display: flex;
    align-items: center;
    height: 500px;

    
}

.bloque-presentacion .texto{
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    gap: 20px;
    line-height: 1;
}

.bloque-presentacion h2, .bloque-presentacion h3, .bloque-presentacion p{
    margin: 0;
}

.bloque-presentacion .presentacion{
    color: var(--letra2);
    font-size: 5rem;
}

.bloque-presentacion img{
    width: 400px;
    height: 400px;
}

.cosas-de-mi{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    height: 70rem;
    background-color: var(--fondo3);
}

.cosas-de-mi .todos-proyectos{
    margin-top: 1rem;
}

.cosas-de-mi .todos-proyectos h3{
    color: var(--letra1);       
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cosas-de-mi a{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: var(--fondo-2) 5px solid;
    width: 400px;
    height: 700px;
    color: var(--letra1);
    cursor: pointer;
}

.cosas-de-mi a:hover{
    transform: translateY(-4px);
    opacity: 0.5;
    background-color: var(--fondo-2);
}

.cosas-de-mi a p{
    font-size: 1.5rem;
    margin-top: 12em;
}

.cosas-de-mi img{
    width: 300px;
    height: 300px;
}

.cosas-de-mi h2{
    color: var(--fondo-2);
    font-size: 3rem;
}

.cosas-de-mi .cosas-de-mi-texto{
    margin-left: 20%;
    max-width: 60%;
}